{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
            {% include 'includes/dashboard_sidebar.html' %}
        
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
               
            </header>
            <div class="card-body">
                <div class="text-right"><img src="{{userprofile.profile_picture.url}}" alt='image loading' width=150 style='border-radius:50%' ></div>
                <!-- <div class="text-right"><img src="{{userprofile.profile_picture.url}}" alt="insert profile_picture"></div> -->
                <div class="row"> 
                    <div class="col-md-12">
                       <form method="POST" action="{% url 'editprofile' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                            <label>First Name</label>
                            {{userforms.first_name}}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Last Name</label>
                            {{userforms.last_name}}
                        </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Phone</label>
                                {{userforms.phone}}
                            </div>
                            <div class="form-group col-md-6">
                                <label>Profile picture</label>
                                {{userprofileforms.profile_picture}}
                            </div>
                        </div>
                        
                        
                            
                            <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Address Line 1</label>
                                {{userprofileforms.address_line_1}}
                            </div>
                            <div class="form-group col-md-6">
                                <label>Address Line 1</label>
                                {{userprofileforms.address_line_2}}
                                
                                    </div>
                                    </div>
                        
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label>State</label>
                                            {{userprofileforms.state}}
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>City</label>
                                            {{userprofileforms.city}}
                                            
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>Country</label>
                                                    {{userprofileforms.country}}
                                                    
                                                        </div>
                                                </div>
                                                {% include 'includes/alerts.html' %}
                                                <div class="form-row">
        
                                                    <div class="col-md-12">  <button type="submit" class="btn btn-primary">Submit</button></div>
                                              
                                                </div>
                   
            
                       </form>
                    </div>
                   
                       
                    </div>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
          
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>   
        

{% endblock %}