{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
   <div class="card-body">
   <h4 class="card-title mb-4">Forgot Password</h4>
<form action="{% url 'forgotpassword' %}" method="POST">
    {% csrf_token %}
   
      <div class="form-group">
         <input type="email" class="form-control" placeholder="Email Address" name="email">
<br/><br/>
{% include 'includes/alerts.html' %}
         <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Submit </button>
        </div> <!-- form-group// -->    
      </div> <!-- form-group// -->
   </div> <!-- card-body.// -->
</div> <!-- card .// -->

 <p class="text-center mt-4">Got Password?<a href="{% url 'login' %}">Sign up</a></p>
 <br><br>
</form>
{% endblock %}